on: [push]

name: Trigger

jobs:
  trigger:
    name: Trigger
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions-rs/toolchain@v1
        with:
          profile: minimal
          toolchain: stable
          override: true
      - uses: actions-rs/cargo@v1
        with:
          command: install
          args: git-cm
      - run: |
          rm -rf /home/runner/.cargo/registry/src && echo 123 > test && git add test
      - run: |
          git-cm
